* {
    padding: 0;
    margin: 0;
}

:root{
    --light: #e1f3ed;
    --lightgreen: #D4E2D4;
    --pink: #FFCACC;
    --purpel: #DBC4F0;
    --volite: #9681EB; 
}

html {
    font-size: 62.5%;
    background-color: var(--light);
    font-family: 'Quantico', sans-serif;
}

/* Navbar css */
nav{
    background-color: #fad0c4;
    background-image: linear-gradient(315deg,#3fba93 0%, #f8d6cd 74%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1rem 2rem;
}

.navName {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

nav .navOptions{
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

/* table */

.handleBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
}
table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f2f2f2;
  }
  
  th,
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }